<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor View</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Instructor View</h1>
        <form id="question-form">
            <label for="question">Question:</label>
            <label for="question_type">Question Type:</label>
            <select id="question_type" name="question_type">
                <option value="text">Text</option>
                <option value="poll">Poll</option>
            </select>
            <input type="text" id="question" name="question" required>
            <div id="choices-container" style="display:none;">
                <label for="choices">Choices:</label>
                <textarea type="text" id="choices" name="choices"></textarea>
            </div>
            <button type="submit">Post Question</button>
        </form>
        <div id="results">
            <h2>Results:</h2>
            <iframe id="results-iframe" src="" style="display:none;"></iframe>
        </div>
        <button id="show-results">Show Results</button>
        <button id="hide-results">Hide Results</button>
    </div>
    <script>
        document.getElementById('question_type').addEventListener('change', function () {
            var choicesContainer = document.getElementById('choices-container');
            if (this.value === 'poll') {
                choicesContainer.style.display = 'block';
            } else {
                choicesContainer.style.display = 'none';
            }
        });
        $(document).ready(function () {
            $("#question-form").submit(function (event) {
                event.preventDefault();
                const question = $("#question").val();
                const question_type = $("#question_type").val();
                const choices = question_type === 'poll' ? $("#choices").val() : '';
                $.post("/post_question",
                    { question: question, question_type: question_type, choices: choices },
                    function (data) {
                        if (data.success) {
                            $("#question").val("");
                            alert("Question posted successfully!");
                        } else {
                            alert("Error posting question.");
                        }
                    });
            });

            $("#show-results").click(function () {
                $("#results-iframe").attr("src", "/results");
                $("#results-iframe").css("display", "block");
            });

            $("#hide-results").click(function () {
                $("#results-iframe").css("display", "none");
            });
        });
    </script>
</body>

</html>