{% extends 'base.html' %}
{% block head %}
<script src="/static/js/qrcode.js"></script>
{% endblock %}
{% block title %}QR Code for Student Access{% endblock %}
{% block content %}
    <div class="container">
        <h1>Scan the QR Code to Access the Student Page</h1>
        <div id="qrcode" style="display: flex; justify-content: center;"></div>
    </div>
    <script src="/static/js/scripts.js"></script>
    <script>
        var baseUrl = window.location.origin;
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: baseUrl + "/student",
            width: 512,
            height: 512,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>
{% endblock %}
