<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <link rel="stylesheet" href="/static/css/main.css" media="screen">
    <link rel="stylesheet" href="/static/css/main_small.css" media="screen and (max-width:800px)">
    <link rel="stylesheet" href="/static/css/modern_input.css" media="screen">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Student View</h1>
        <div id="question-container">
            <h2 id="question-text">Waiting for a question...</h2>
            <form id="answer-form" style="display:none;">
                <div id="text-answer" style="display:none;">
                    <label for="answer-input">Your answer:</label>
                    <input type="text" id="answer-input">
                </div>
                <div id="poll-answer" style="display:none;">
                    <label for="answer-select">Choose an option:</label>
                    <div id="answer-select">
                        <!-- Options for poll choices will be added here as button elements -->
                    </div>
                </div>
                <input type="hidden" name="answer" id="hidden-answer">
                <div id="message-container"></div>
                <button id="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="/static/js/scripts.js"></script>
    <script>
        currentQuestion = null;
        function updateStudentView(questionData) {
            if (! questionData) {
                document.getElementById('question-text').innerText = 'Waiting for a question...';
                document.getElementById('answer-form').style.display = 'none';
                return;
            }
            if (currentQuestion && currentQuestion.question === questionData.question) {
                return;
            }
            currentQuestion = questionData;
            var questionText = document.getElementById('question-text');
            var answerForm = document.getElementById('answer-form');
            var textAnswer = document.getElementById('text-answer');
            var pollAnswer = document.getElementById('poll-answer');
            var answerSelect = document.getElementById('answer-select');
            var submitButton = document.getElementById('submit');

            questionText.textContent = questionData.question;
            answerForm.style.display = 'block';
            submitButton.disabled = false;
            emptyMessage();

            if (questionData.question_type === 'text') {
                textAnswer.style.display = 'block';
                pollAnswer.style.display = 'none';
                submitButton.style.display = 'block';
            } else if (questionData.question_type === 'poll') {
                textAnswer.style.display = 'none';
                pollAnswer.style.display = 'block';
                answerSelect.innerHTML = '';
                submitButton.style.display = 'none';

                for (var i = 0; i < questionData.choices.length; i++) {
                    var button = document.createElement('button');
                    button.value = questionData.choices[i];
                    button.textContent = questionData.choices[i];
                    button.classList.add('poll-choice');
                    answerSelect.appendChild(button);
                }
            }
        }

        function updateQuestion() {
            fetch('/get_question')
                .then(response => response.json())
                .then(updateStudentView);
        }

        function setPollButtonsEnabled(enabled) {
            var buttons = document.querySelectorAll('.poll-choice');
            for (var button of buttons) {
                button.disabled = !enabled;
            }
        }

        document.getElementById('answer-select').addEventListener('click', (event) => {
            if (event.target.classList.contains('poll-choice')) {
                const hiddenAnswer = document.getElementById('hidden-answer');
                hiddenAnswer.value = event.target.value;
                setPollButtonsEnabled(false);
            }
        });

        function emptyMessage(message) {
            const messageContainer = document.getElementById('message-container');
            messageContainer.textContent = '';
        }

        function showMessage(message, isError) {
            const messageContainer = document.getElementById('message-container');
            messageContainer.textContent = message;
            messageContainer.style.color = isError ? 'red' : 'green';
        }

        document.getElementById('answer-form').addEventListener('submit', (event) => {
            event.preventDefault();
            const answerInput = document.getElementById('answer-input');
            const answerSelect = document.getElementById('answer-select');
            const hiddenAnswer = document.getElementById('hidden-answer');
            const textAnswer = document.getElementById('text-answer');
            const pollAnswer = document.getElementById('poll-answer');
            const submitButton = document.getElementById('submit');

            submitButton.disabled = true;

            if (textAnswer.style.display != 'none') {
                hiddenAnswer.value = answerInput.value;
            } 
            fetch('/submit_answer', {
                method: 'POST',
                body: new FormData(event.target)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showMessage('Answer submitted successfully!', false);
                        updateQuestion();
                    } else {
                        showMessage('Error submitting answer. Please try again.', true);
                    }

                });
        });
        updateQuestion();
        setInterval(updateQuestion, 5000);
    </script>
</body>

</html>
